name: Deploy to PRODUCTION
 
on:
  push:
    tags:
      - "prod-*"
 
jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
 
      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
 
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.USR_TOKEN }}
 
      - name: Set Image Tag
        run: |
          IMAGE_TAG=${GITHUB_REF_NAME,,}  # Lowercase branch name
          IMAGE_TAG=${IMAGE_TAG//[^a-z0-9._-]/-}  # Replace invalid characters
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
 
      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          build-args: |
            GITHUB_TOKEN=${{ secrets.USR_TOKEN }}
          push: true
          tags: ghcr.io/optimumpartners/olive-attendance/production/oliveattendance:production
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
 
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
 
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
 
      - name: Deploy to PRODUCTION environment
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.BACKEND_SERVER_PRODUCTION_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker image prune -a -f
            docker container prune -a -f
            docker system prune -a -f
 
            docker stop oliveattendance-prod || true
            docker rm oliveattendance-prod || true
 
            echo "Deploying to PRODUCTION environment ..."
            docker login ghcr.io -u ${{ github.actor }} --password "${{ secrets.USR_TOKEN }}"
 
            docker pull ghcr.io/optimumpartners/olive-attendance/production/oliveattendance:production
 
            /root/olive-attendance/olive-attendance.sh